body {
  font-family: 'Roboto', sans-serif; 
  font-size: 16px; 
  line-height: 1.6; 
  background-color: #102C57;
  color: white;
}


.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('assets/background-img.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero img {
  border-radius: 50%;
  border: 3px solid #000;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .hero img {
    width: 250px;
    height: 250px;
  }
}

.section-content {
  margin-top: 20px;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 2.5rem;
}


#mission {
  text-align: center;
  #contact {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif; 
    padding: 60px 0; 
  }
}


.section-image {
  width: 300px;
  height: 150px;
  display: block;
  margin: 0 auto 20px auto;
}

@media (min-width: 768px) {
  .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .section-content img {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .section-text {
    flex: 1;
  }
}

@media (max-width: 767px) {
  .section-content {
    display: block;
  }

  .section-content img {
    margin-bottom: 20px;
  }
}

/* Skills Section */

#contact {
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  padding: 60px 0; 
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
}

.skill-item img {
  max-width: 80px;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .skill-item {
    flex: 1 1 50%;
  }
}

@media (min-width: 992px) {
  .skill-item {
    flex: 1 1 25%;
  }
}

/* Contact Section */

#contact {
  text-align: center;
  font-family: 'Roboto Slab', sans-serif; 
  padding: 60px 0; 
}
.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-item {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
}

.contact-item i {
  color: white;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.contact-item i:hover {
  color: #17a2b8; 
}

@media (min-width: 768px) {
  .contact-item {
    flex: 1 1 33.33%;
  }
}

footer {
  font-size: 0.9rem;
}